:root {
  --dark-Blue: hsl(209, 23%, 22%);
  --darker-Dark-Blue: hsl(207, 26%, 17%);
  --darkest-Dark-Blue: hsl(200, 15%, 8%);
  --dark-Gray: hsl(0, 0%, 52%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --homepage-text-size: 14px;
  --detailpage-text-size: 16px;

  --font-family-style: 'Nunito Sans', sans-serif;
  --lighter-font-weight: 300;
  --bold-font-weight: 600;
  --bolder-font-weight: 800;

  --padding: 0.5rem 1rem;
  --filter-width: 13rem;

  --primary-color: var(--very-Light-Gray);
  --secondary-color: var(--dark-Gray);
  --third-color: var(--White);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: var(--homepage-text-size);
  font-family: var(--font-family-style);
  font-weight: var(--lighter-font-weight);
}

.dark-mode {
  --primary-color: var(--darker-Dark-Blue);
  --secondary-color: var(--White);
  --third-color: var(--dark-Blue);
  color: white;
}

body {
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  padding: 1rem 0.7rem;
  /* border: 1px solid black; */
}

header {
  width: 100%;
  background-color: var(--third-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1px solid red;
  /* padding: 1rem; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--homepage-text-size);
  font-weight: var(--bold-font-weight);
  font-family: var(--font-family-style);
}
.logo {
  font-size: 20px;
  font-weight: var(--bolder-font-weight);
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  padding: 0.5rem;
  font-size: var(--homepage-text-size);
  font-weight: var(--bold-font-weight);
}
.navbar ul li h3 {
  font-weight: var(--bold-font-weight);
}

#dark-mode:hover {
  cursor: pointer;
}

.main {
  min-height: 100vh;
}

.search-filter-container {
  overflow: visible;
}

.search-filter-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--homepage-text-size);
  font-weight: var(--lighter-font-weight);
}
.search {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0rem;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
}

.search input {
  /* width: 92%; */
  min-width: 28vw;
  padding: var(--padding);
  margin-left: 0.5rem;
  color: var(--secondary-color);
}
.search-icon {
  color: var(--secondary-color);
}
.search input::placeholder {
  font-size: var(--homepage-text-size);
  color: var(--secondary-color);
}

.filter {
  /* border: 1px solid black; */
  width: var(--filter-width);
  position: relative;
  overflow: visible;
}

.filter-btn,
#filter-option {
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--third-color);
}

.filter-btn {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
#filter-option {
  /* border: 1px solid green; */
  display: none;
  position: absolute;
  top: 120%;
  width: var(--filter-width);
}
#filter-option li {
  padding: 0.3rem 0rem;
  border-radius: 0.5rem;
}

#filter-option li:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.filter.active #filter-option {
  display: block;
}

#cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-family: var(--font-family-style);
}

.card {
  width: 100%;
  margin: 1rem;
  background-color: var(--third-color);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.card-image {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;

  object-fit: fill;
}

.card-content {
  padding: 2rem 1rem;
}

.card-content h2 {
  margin-bottom: 1rem;
  font-size: var(--homepage-text-size);
  font-weight: var(--bolder-font-weight);
}

.card-content li {
  padding: 0.3rem 0rem;
  font-size: var(--homepage-text-size);
}

.card-content span {
  font-weight: var(--bold-font-weight);
}
.region {
  font-weight: var(--lighter-font-weight) !important;
}

@media screen and (min-width: 1121px) {
  .logo {
    font-size: 20px;
  }
  .container {
    width: 100%;
    padding: 2rem 4rem !important;
  }
  #cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    padding: 0rem;
  }
  .card {
    margin: 0rem;
  }
  .card-image {
    width: 100%;
    /* height: 22vh; */
    aspect-ratio: 2/1;
    object-fit: fill;
  }

  .search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
  .container {
    width: 100%;
    padding: 2rem !important;
  }
  #cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0rem;
  }
  .card {
    margin: 0rem;
  }
  .card-image {
    width: 100%;
    /* height: 22vh; */
    aspect-ratio: 2/1;
    object-fit: fill;
  }

  .search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 1rem !important;
  }
  #cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0rem;
  }
  .card {
    margin: 0rem;
  }
  .card-image {
    width: 100%;
    /* height: 22vh; */
    aspect-ratio: 2/1;
    object-fit: fill;
  }

  .search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
