:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --text-size: 18px;
  --font-small-size: 10px;
  --font-style: 'Public Sans', sans-serif;
  --light-font-weight: 300;
  --font-weight: 400;

  --green-cyan-gradient: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-style);
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0rem 5em;
}

.content-margin {
  padding: 3rem 1rem;
  background-color: var(--very-light-gray);
  position: relative;
}

.content-margin:nth-child(even) {
  background-color: var(--light-grayish-blue);
}

.heading-size {
  font-size: 23px;
}

.desc-size {
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  min-height: 9.7vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-size);
}

.nav-menu li {
  text-transform: capitalize;
  color: var(--grayish-blue);
  cursor: pointer;
  margin: 1px 5px;
  padding: 1.5rem 1rem;
  font-weight: var(--light-font-weight);
}

.nav-menu li:hover {
  border: 10px solid;
  border-width: 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.nav-request-invite {
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background: var(--green-cyan-gradient);
  cursor: pointer;
  margin: 1rem 0rem;
}

.toggle-btn {
  cursor: pointer;
  display: none;
}

.intro {
  background-color: var(--very-light-gray);
}
.intro-image {
  background: url('./images/bg-intro-mobile.svg') no-repeat;
  background-size: cover;
}
.intro img {
  width: 100%;
  margin-top: -6rem;
}

.intro {
  display: block;
  background-size: contain;
  position: relative;
  z-index: 2;
}
.intro-content {
  text-align: center;
  padding: 2rem 1rem;
}

.intro-heading {
  font-size: 30px;
  color: var(--dark-blue);
  font-weight: var(--font-weight);
  padding: 2rem 0rem;
}

.intro-desc {
  color: var(--grayish-blue);
  font-size: var(--text-size);
  padding: 1rem 0rem;
}

.intro-request {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.hello {
  margin-top: 0rem;
}
.intro img {
  width: 100%;
  position: relative;
  left: 0%;
  z-index: 3;
}

.content-heading,
.content-desc,
.content-service {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.content-heading,
.content-desc {
  margin: 1rem 0rem;
}
.card-desc p {
  font-size: 16px;
}
.cards {
  margin: 3rem 0rem;
  border-radius: 10px;
}
.card-icon,
.card-heading {
  margin: 1rem 0rem;
}

.content-heading h1,
.card-heading h3 {
  font-weight: 500;
  color: var(--dark-blue);
}

.content-desc,
.card-desc {
  color: var(--grayish-blue);
}

.article-card-bg {
  background: var(--white);
  color: black;
}
.article-img {
  width: 100%;
  object-fit: cover;
  max-height: 25vh;
}
.article-card-bg ul {
  padding: 1rem;
}
.article-card-bg li {
  color: var(--grayish-blue);
  padding: 0.4rem 0.6rem;
  text-align: left;
}

.article-card-bg h3 {
  color: var(--dark-blue);
  font-weight: var(--font-weight);
}

.cards span {
  font-size: 13px;
}

.footer-color {
  background-color: var(--dark-blue);
  display: block;
  text-align: center;
  color: var(--white);
  font-size: var(--text-size);
}
.footer-social ul {
  display: flex;
  justify-content: center;
}
.footer li {
  margin: 1rem;
  font-size: 15px;
}
.footer-menu li {
  font-size: 14px;
  color: var(--grayish-blue);
}
.footer-left li:hover {
  color: var(--lime-green);
  cursor: pointer;
}
.footer-img {
  height: 1.5rem;
  margin: 1rem 0rem;
}
.footer-right .nav-request-invite {
  margin: 2rem 1rem;
}
.footer-right span {
  font-size: 15px;
  color: var(--grayish-blue);
}

/* ----------------------------------------------------------- */
@media screen and (min-width: 1001px) {
  .content-margin {
    padding: 6rem 7rem;
    position: relative;

    z-index: 3;
  }
  .zIndexValue {
    position: relative;
    z-index: 1;
  }

  .intro {
    display: flex;
    position: relative;
    z-index: 2;
    max-height: 80vh;
    overflow: visible;
  }
  .intro-image {
    width: 50%;
    /* border: 1px solid red; */
    background: url('./images/bg-intro-desktop.svg') no-repeat -4rem -15rem;
    overflow: visible;
  }
  .intro img {
    position: relative;
    margin-top: -10rem;
    transform: translate(6rem, 2%);
    z-index: 3;
  }
  .intro-content {
    order: -1;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
  }

  .intro-heading {
    font-size: 3.1rem;
    width: 80%;
    color: var(--dark-blue);
    font-weight: var(--light-font-weight);
    padding: 1rem 0rem;
  }
  .intro-desc {
    font-size: var(--text-size);
    width: 90%;
  }
  .intro-request {
    justify-content: flex-start;
    align-self: flex-start;
    margin: 0rem;
  }

  .content-heading,
  .content-desc,
  .content-service {
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }
  .card-container,
  .content-service {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .content-desc {
    width: 60%;
  }
  .content-service {
    text-align: none;
  }
  .cards {
    width: 25%;
    margin: 1rem;
  }
  .footer-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
  }
  .footer-left {
    display: flex;
    width: 70%;
    /* border: 1px solid white; */
  }
  .footer-social {
    margin-right: 10%;
  }

  .footer-left li,
  .footer-social div {
    margin: 0rem;
    padding: 1rem;
    font-size: var(--text-size);
    text-align: left;
  }
  .footer-menu li {
    font-size: 1rem;
  }
  .footer-menu ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    padding: 0rem 2rem;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .intro {
    display: flex;
    position: relative;
    z-index: 2;
  }
  .intro-image {
    background: url('./images/bg-intro-desktop.svg') no-repeat -4rem -15rem;
  }
  .intro-content {
    order: -1;
    text-align: center;
  }
  .intro-image {
    width: 45%;
  }

  .intro img {
    position: relative;
    top: 0rem;
    left: 8%;
    z-index: 3;
  }
  .intro-content {
    order: -1;
    width: 55%;
    text-align: start;
    padding: 5% 0% 3% 5%;
  }

  .intro-heading {
    font-size: 2rem;
    width: 80%;
    color: var(--dark-blue);
    font-weight: var(--font-weight);
    padding: 1rem 0rem;
  }
  .intro-desc {
    font-size: var(--text-size);
    width: 100%;
  }
  .intro-request {
    justify-content: flex-start;
    margin: 0rem;
  }

  .content-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: none;
  }
  .cards {
    width: 45%;
    margin: 1rem;
    /* border: 1px solid black; */
  }

  .footer-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 882px) {
  .container {
    padding: 0rem 2rem;
  }
  .navbar {
    min-height: 9vh;
  }

  .active {
    display: none;
  }

  .toggle-btn,
  .content {
    display: block;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
